*.pyc
*.in
*.in.srz
*.png
/data/
/data_v1/
/data_v2/
/graphics/
/graphics_v1/
/.setting/
.pyproject
.pydevproject
.gitignore~
.project
.settings/

/graphics_v2/
/processed_data/CSV/
/processed_data/ARFF/

/results/entre_turmas/
